<footer class="footer">
{% include './subscribe.njk' %}
	<div class="footer__wrap">
		<div class="footer__content">
			<a class="footer__logo" href="#">
				<img class="footer__logo-img" src="assets/svg/logo.svg" />
				<h2 class="footer__logo-text">Lasles<b>VPN</b></h2>
			</a>
			<p class="footer__text">
				<strong>LaslesVPN</strong> is a private virtual network that has unique features and has high security.
			</p>
			<div class="footer__social-shared">
				<a href="" class="footer__icon-link">
					<img src="assets/svg/icon_facebook.svg" class="footer__icon" alt="facebook">
				</a>
				<a href="" class="footer__icon-link">
					<img src="assets/svg/icon_twitter.svg" class="footer__icon" alt="twitter">
				</a>
				<a href="" class="footer__icon-link">
					<img src="assets/svg/icon_instagram.svg" class="footer__icon" alt="instagram">
				</a>

			</div>
			<div class="footer__copyright">
				&copy; 2020Lasles<b>VPN</b>
			</div>
		</div>
		<div class="footer__box">
			<div class="footer__nav-box">
				<h3 class="footer__nav-title">Product</h3>
				<nav class="footer__links">
					<a href="#" class="footer__link">Download</a>
					<a href="#" class="footer__link">Pricing</a>
					<a href="#" class="footer__link">Locations</a>
					<a href="#" class="footer__link">Server</a>
					<a href="#" class="footer__link">Countries</a>
					<a href="#" class="footer__link">Blog</a>
				</nav>
			</div>
			<div class="footer__nav-box footer__nav-box--center">
				<h3 class="footer__nav-title">Engage</h3>
				<nav class="footer__links">
					<a href="#" class="footer__link">LaslesVPN ?</a>
					<a href="#" class="footer__link">FAQ</a>
					<a href="#" class="footer__link">Tutorials</a>
					<a href="#" class="footer__link">About Us</a>
					<a href="#" class="footer__link">Privacy Policy</a>
					<a href="#" class="footer__link">Terms of Service</a>
				</nav>
			</div>
			<div class="footer__nav-box">
				<h3 class="footer__nav-title">Earn Money</h3>
				<nav class="footer__links">
					<a href="#" class="footer__link">Affiliate</a>
					<a href="#" class="footer__link">Become Partner</a>
				</nav>
			</div>
		</div>
	</div>
</footer>
