 <nav class="navbar">
        <div class="navbar__figure">
            <a class="logo" href="#">
                <img class="logo__image" src="./assets/svg/logo.svg" alt="">
                <h3 class="logo__header">Lasles <strong>VPN</strong> </h3>
            </a>
            
        </div>
        <div class="navbar__titles">
            <a class="navbar__item" href="#">About</a>
            <a class="navbar__item" href="#">Features</a>
            <a class="navbar__item" href="#">Pricing</a>
            <a class="navbar__item" href="#">Testimonials</a>
            <a class="navbar__item" href="#">Help</a>

        </div>
        <div class="navbar__sign">
            <button class="navbar__signin">Sign In</button>
            <button class="navbar__signup">Sign Up</button>
        </div>
    </nav>
