<div class="hero">
    <div class="hero__aside">
        <div class="hero__header">
            <h1 class="hero__title">Want anything to be easy with <strong>LaslesVPN</strong>.</h1>
            <p class="hero__content">Provide a network for all your needs with ease and fun using <strong> LaslesVPN </strong>  discover interesting features from us.</p>
        </div>
        <div class="hero__button">
            <button class="get-started">Get Started</button>
        </div>
    </div>
    <div class="hero__figure">
        <img src="./assets/svg/hero.svg" alt="">
    </div>
</div>
