<section class="location">
	<div>
		<h2 class="location__title">Huge Global Network of Fast VPN</h2>
		<p class="location__info">
			See <b>LaslesVPN</b> everywhere to make it easier for you when you move
			locations
		</p>
	</div>
	<div class="location__map">
		<img src="./assets/svg/map.svg" alt="location-map" />
	</div>
	<div class="partners-logos">
		<img
			src="./assets/svg/netflix.svg"
			alt="netflix-logo"
			class="partners-logos__logo"
		/>
		<img
			src="./assets/svg/reddit.svg"
			alt="reddit-logo"
			class="partners-logos__logo"
		/>
		<img
			src="./assets/svg/amazon.svg"
			alt="amazon-logo"
			class="partners-logos__logo"
		/>
		<img
			src="./assets/svg/discord.svg"
			alt="discord-logo"
			class="partners-logos__logo"
		/>
		<img
			src="./assets/svg/spotify.svg"
			alt="spotify-logo"
			class="partners-logos__logo"
		/>
	</div>
</section>
