<section class="package-plan">
	<h2 class="package-plan__title">Choose Your Plan</h2>
	<p class="package-plan__text">
		Let's choose the package that is best for you and explore it happily and
		cheerfully.
	</p>
	<div class="package-plan__choices">
		<div class="package-plan__choice">
			<div class="package-plan__info">
				<img src="./assets/svg/free-package.svg" alt="free-plan" />
				<h3>Free Plan</h3>
				<ul>
					<li>Unlimited Bandwitch</li>
					<li>Encrypted Connection</li>
					<li>No Traffic Logs</li>
					<li>Works on All Devices</li>
				</ul>
			</div>
			<div class="package-plan__select">
				<p class="package-plan__choice-price">Free</p>
				<button class="package-plan__select-button">Select</button>
			</div>
		</div>
		<div class="package-plan__choice">
			<div class="package-plan__info">
				<img src="./assets/svg/standard-package.svg" alt="standard-plan" />
				<h3>Standard Plan</h3>
				<ul>
					<li>Unlimited Bandwitch</li>
					<li>Encrypted Connection</li>
					<li>Yes Traffic Logs</li>
					<li>Works on All Devices</li>
					<li>Connect Anyware</li>
				</ul>
			</div>
			<div class="package-plan__select">
				<p class="package-plan__choice-price">$9 <span> /mo</span></p>
				<button class="package-plan__select-button">Select</button>
			</div>
		</div>
		<div class="package-plan__choice">
			<div class="package-plan__info">
				<img src="./assets/svg/plan.svg" alt="premium-plan" />
				<h3>Premium Plan</h3>
				<ul>
					<li>Unlimited Bandwitch</li>
					<li>Encrypted Connection</li>
					<li>Yes Traffic Logs</li>
					<li>Works on All Devices</li>
					<li>Connect Anyware</li>
					<li>Get New Features</li>
				</ul>
			</div>
			<div class="package-plan__select">
				<p class="package-plan__choice-price">$12 <span> /mo</span></p>
				<button class="package-plan__select-button">Select</button>
			</div>
		</div>
	</div>
</section>
