<div class="stats">
    <div class="stats__item stats__users">
        <div class="stats__icon">
            <img src="./assets/svg/user.svg" alt="">
        </div>
        <div class="stats__data">
            <h3 class="stats__number">90+</h3>
            <p class="stats__text">Users</p>
        </div>
    </div>
    <div class="stats__vertical-line"></div>
    <div class="stats__item stats__locations">
        <div class="stats__icon">
            <img src="./assets/svg/location.svg" alt="">
        </div>
        <div class="stats__data">
            <h3 class="stats__number">30+</h3>
            <p class="stats__text">Locations</p>
        </div>
    </div>
    <div class="stats__vertical-line"></div>
    
    <div class="stats__item stats__servers">
        <div class="stats__icon">
            <img src="./assets/svg/server.svg" alt="">
        </div>
        <div class="stats__data">
            <h3 class="stats__number">50+</h3>
            <p class="stats__text">Servers</p>
        </div>
    </div>
    
</div>
