<section class="subscribe">
	<div class="subscribe__wrap">
		<div class="subscribe__text">
			<h2 class="subscribe__title">Subscribe Now for Get Special Features!</h2>
			<p class="subscribe__paragraph">Let's subscribe with us and find the fun.</p>
		</div>
		<div class="subscribe__button-box">
			<button class="subscribe__button">Subscribe Now</button>
		</div>
	</div>

</section>
