$rem-baseline: 16;

$home-bgcolor: #ffc0cb;
$header-color: #0B132A;
$paragraph-color: #4F5665;
$navbar-signup-color: #F53855;
$button-color: #F53838;
$info-icon-bgcolor: #FFECEC;
$checked-icon-color: #2FAB73;
$footer-copyright-color: #AFB5C0;


// :root {
// 	--home-color: #ffc0cb;
// }

