$white: rgb(255, 255, 255);
$black: rgb(34, 34, 34);
$pink: rgb(201, 150, 198);

$main-bgcolor: rgb(234, 239, 244);
$color: $black;

$menu-link: $pink;
$menu-link-hover: darken($pink, 20%);

$menu-link-active: $white;
$menu-link-active-bgcolor: darken($pink, 20%);

$button-border: $pink;
$button-text: $black;
$button-hover: $pink;
