<form action="submit" class="search-form">
  <input
    type="text"
    placeholder="search movies"
    class="search-form__searchbar"
  />
  <input type="submit" value="Submit" class="search-form__submitBtn" />
</form>
